<div class="form-group">
  <%= form_for @post do |f| %>
      <%= f.label :title %>
      <%= f.text_field :title, class: "form-control" %><br>
      <%= f.label :body %>
      <%= f.text_area :body, class: "form-control", rows: "6"%><br>
      <%= f.submit class: "btn btn-info" %>
  <% end %>
</div>



