<style>
  .textarea-comment {
    display: none;
  }
</style>

<h4><%= @post.title %></h4>
<p><%= @post.body %></p>

<%= form_for [@post, @comment], remote: true do |f| %>
    <div id="comment">
      <%= f.text_area :body %><br>
      <%= f.submit "Comment", :class => "comment"%>
    </div>
<% end %>

<%= button_to "Edit this post", edit_post_path(@post), method: :get %>
<%= button_to "Delete post", post_path(@post), method: :delete %>


<div class="comments">
  <% @post.comments.order(:id).each do |comment| %>
    <%= comment.user.email unless comment.user.nil? %><br>
      <div id="comment-body<%= comment.id %>" class="comment-body">
        <%= comment.body %>
      </div>

    <div id="comment-form<%= comment.id %>" class="textarea-comment">
      <%= form_for [@post, comment], remote: true do |f| %>
          <div id="comment">
            <%= f.text_area :body %><br>
            <%= f.submit "Save", :class => "secret-submit-btn"%>
          </div>
      <% end %>
    </div>

      <% if comment.user == current_user %>
        <div>
          <%= button_tag "Edit comment", class: "edit btn btn-success btn-sm", "x-id": comment.id %>
          <%= button_tag "Delete", class: "btn btn-danger btn-sm" %>
        </div>
      <% end %>
  <% end %>
</div>




<script>
  $(".edit").on("click", function() {
    var id = parseInt($(this).attr("x-id"));
    console.log(id);
    $("#comment-body" + id.toString()).fadeOut();
    $("#comment-form" + id.toString()).fadeIn();
    $(this).fadeOut();
  });




  var form = $("#new_comment");
  form.on("keydown", function(e) {
    if (e.keyCode == 13)
      $(".comment")[0].click();
  }).on("ajax:success", function (event, data) {
    console.log(data);
    var newDiv = document.createElement("div");
    newDiv.className = "comment";
    newDiv.innerHTML = data.body + "<br>" + data.user_id;
    $(".comments").append(newDiv);
  });

  form = $(".textarea-comment");
  form.on("keydown", function(e) {
    if (e.keyCode == 13) {
      $(this).find("input[type=submit]")[0].click();
    }
  }).on ("ajax:success", function (event, data) {
    console.log(data);
    var id = data.id.toString();
    $("#comment-body" + id).html(data.body);
    $("#comment-body" + id).fadeIn();
    $("#comment-form" + id).fadeOut();
    console.log("*[x-id=" + id + "]");
    $("*[x-id=" + id + "]").fadeIn();
  }).on ("ajax:error", function (event, data) {
    console.log("Another one bites the dust!")
  });
</script>
